<% content_for(:sidebar) do %>
  <div class="sidebar_box">
    <div class="sidebar_block">
      <ul class="simple">
        <li><%= datetimestamp(@page.updated_at) %></li>
      
        <li>
          <%= link_to "&laquo;", page_revision_path(@page, @revision.revision_number - 1) unless @revision.first? %>
          Revision <strong>#<%= @revision.revision_number %></strong>
          <%= link_to "&raquo;", page_revision_path(@page, @revision.revision_number + 1) unless @revision.last? %>
        </li>
        <li><small><%= link_to_unless_current "All revisions", page_revisions_path(@page) %></small></li>
      </ul>
    </div>
    
    <% if params[:revision] %>
      <ul class="simple">
        <li>By <strong><%= author_link(@revision) %></strong></li>
        
        <% if admin? %>
          <li><%= link_to "Revert", page_confirm_destroy_revision_path(@page, @revision) %></li>
        <% end %>
      </ul>
    <% else %>
      <ul class="simple">
        <li><%= link_to_unless_current "Edit", edit_page_path(@page) if write_access? %></li>
        <li><%= link_to_unless_current "Discussions", page_discussions_path(@page) %></li>
        <li><%= link_to_unless_current "Delete", confirm_destroy_page_path(@page) if admin? %></li>
      </ul>
    <% end %>
  </div>
<% end %>