<% content_for(:sidebar) do %>
  <div class="sidebar_box">
    <div class="sidebar_block">
      <ul class="simple">
        <li><%= datetimestamp(@page.updated_at) %></li>
        
        <li>
          <%# To come. %>
          <%# link_to "&laquo;" unless @revision.first? %>
          Revision <strong><%= link_to_unless @is_viewing_page, "##{@revision.revision_number}", page_path(@page) %></strong>
          <%# link_to "&raquo;" unless @revision.last? %>
        </li>
      </ul>
    </div>
    
    <ul class="simple">
      <li><%= link_to_unless_current "Edit", edit_page_path(@page) if write_access? %></li>
      <li><%= link_to_unless_current "Discussions", page_discussions_path(@page) %></li>
      <li><%= link_to_unless_current "Revisions", page_revisions_path(@page) %></li>
      <li><%= link_to_unless_current "Delete", confirm_destroy_page_path(@page) if admin? %></li>
    </ul>
  </div>
<% end %>