<% page_title page_link(@page), "Content age" %>
<%= render :partial => "pages/navigation" %>

<style type="text/css">
  <% @nodes.map(&:age).uniq.reject {|age| age == 0 }.each do |age| %>
    .age_<%= age %> {
      <%- rgb_color = 100 + (age * 1.3).to_i -%>
      color:rgb(<%= rgb_color %>, <%= rgb_color %>, <%= rgb_color %>);
    }
  <% end %>
</style>

<div class="content_age pre_block"><%= @nodes.map {|n| content_tag(:span, n.text, :class => "age_#{n.age}") } %></div>