<% page_title "Activity log", "Discussions" %>
<% render :partial => "navigation" %>

<p>Showing the 50 latest discussion entries.</p>

<% grouped_record_log(@discussions, ["Title", "Updated", "Replies"], :updated_at) do |discussion, timestamp| %>
  <td>
    <%= page_link(discussion.page) %>
    /
    <%= link_to discussion.title, page_discussion_path(discussion.page, discussion) %>
  </td>
  <td>
    <%= timestamp %>
    by
    <%= author_link(discussion.latest_discussion_entry) %>
  </td>
  <td><%= discussion.replies_count %></td>
<% end %>
