<% page_title "Activity log" %>

<p>Showing the 50 latest revisions.</p>

<% grouped_revision_log(@revisions, ["#", "Date", "Page", "By", ""]) do |revision, timestamp| %>
  <td><%= link_to "##{revision.revision_number}", page_revision_path(revision.page, revision) %></td>
  <td><%= timestamp %></td>
  <td><%= page_link(revision.page) %></td>
  <td><%= author_link(revision) %></td>
  <td><%= link_to "Changes", page_revision_changes_path(revision.page, revision) %></td>
<% end %>