<% page_title "Activity log" %>
<div class="page_meta">&nbsp;</div>

<p>Showing the 50 latest revisions.</p>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Page</th>
      <th>By</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td><%= link_to "##{revision.revision_number}", page_revision_path(revision.page, revision) %></td>
        <td><%= datetimestamp(revision.created_at) %></td>
        <td><%= page_link(revision.page) %></td>
        <td><%= revision_author_link(revision) %></td>
        <td><%= link_to "Changes", page_revision_changes_path(revision.page, revision) %></td>
      </tr>
    <% end %>
  </tbody>
</table>