<?xml version="1.0" ?> 
<rss version="2.0">
<channel>
  <title><%= Kii::CONFIG[:site_name] %> activity log</title>
  <% @revisions.each do |revision| %>
    <item>
      <title><%= revision.page.title %> #<%= revision.revision_number %></title>
      <link><%= page_revision_changes_url(revision.page, revision) %></link>
      <pubDate><%= revision.created_at.xmlschema %></pubDate>
    </item>
  <% end %>
</channel>