<% page_title page_link(@page), "Discussions" do %>
  <%= link_to "New discussion", new_page_discussion_path(@page) %>
<% end %>

<%= render :partial => "pages/page_actions" %>

<% @discussions.each do |discussion| %>
  <div class="discussion">
    <h2><%= link_to discussion.title, page_discussion_path(@page, discussion) %></h2>
    <p>
      <%= author_link(discussion.latest_discussion_entry) %>
      <%= clever_timestamp(discussion.updated_at) %>
    </p>
  </div>
<% end %>