<% page_title page_link(@page), link_to("Discussions", page_discussions_path(@page)), h(@discussion.title) %>

<% @discussion_entries.each do |discussion_entry| %>
  <div class="discussion_entry">
    <div class="discussion_entry_header">
      By <%= author_link(discussion_entry) %> on <%= datestamp(discussion_entry.created_at) %>
      (Revision <%= link_to "##{discussion_entry.at_revision}", page_revision_path(@page, discussion_entry.at_revision)  %>)
    </div>
    
    <div class="discussion_entry_body">
      <%= render_body(discussion_entry.body) %>
    </div>
  </div>
<% end %>

<h2>Add comment</h2>

<% form_for([@page, @discussion]) do |f| %>
  <%= f.honeypot %>

  <% f.fields_for "discussion_entry_attributes", @discussion.new_discussion_entry do |d| %>
    <%= d.text_area :body %>
  <% end %>
  
  <%= f.submit "Submit" %>
<% end %>