<% page_title h(@user.login) do %>
  <% if @user == current_user %>
    This is you!
    <%= link_to "Edit profile", edit_profile_path %>
  <% end %>
<% end %>

<% render :partial => "navigation" %>

<p class="page_summary">Registered user</p>

<% unless @user.profile_text.blank? %>
  <div class="box_thingie">
    <%= render_body(@user.profile_text) %>
  </div>
<% end %>

<dl>
  <dt>Member since</dt>
  <dd><%= datestamp(@user.created_at) %></dd>
  
  <dt>Created pages</dt>
  <dd><%= @created_pages_count %></dd>
  
  <dt>Revisions</dt>
  <dd><%= @created_revisions_count %></dd>
</dl>