<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <% if @content_for_scripts -%>
    <%= javascript_include_tag template_script("jquery") %>
    <%= @content_for_scripts %>
  <% end -%>
  <%= stylesheet_link_tag "screen" %>
  <%= stylesheet_link_tag Kii::CONFIG[:site_css] if Kii::CONFIG[:site_css] %>
  <title><%= strip_tags(@page_title) %> - <%= Kii::CONFIG[:site_name] %></title>
</head>
<body>
  <%= content_tag(:div, "Development Mode", :id => "dev_mode_warning") if Rails.env == "development" %>
  <div id="wrapper">
  
    <div id="header">
      <div id="main_menu">
        <ul class="simple first">
          <li class="first"><%= link_to "Home", page_path(Kii::CONFIG[:home_page]) %></li>
          <li><%= link_to "Pages", all_pages_path %></li>
          <li><%= link_to "Activities", activities_path %></li>
        </ul>
        
        <ul class="simple">
          <% if logged_in? %>
            <li class="first"><%= link_to current_user.login, edit_profile_path %></li>
            <li><%= link_to "Logout", logout_path %></li>
          <% else %>
            <li class="first"><%= link_to "Login", new_session_path %></li>
            <% if Kii::CONFIG[:public_registration] %>
              <li><%= link_to "Register", new_user_path %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      
      <div class="clear"></div>
    </div>

    <div id="main">
      <div id="content" class="<%= 'without_sidebar' unless sidebar_visible? %>"><div class="spacing">
        <h1><%= @page_title %></h1>
        <%= flashes %>
        <%= yield %>
      
        <div class="clear"></div>
      </div></div>
    
      <% if sidebar_visible? %>
        <div id="sidebar">
          <%= @content_for_sidebar %>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>