<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <% if @content_for_scripts -%>
    <%= javascript_include_tag template_script("jquery") %>
    <%= @content_for_scripts %>
  <% end -%>
  
  <% if @rss %>
    <link rel="alternate" type="application/rss+xml"  title="RSS" href="<%= @rss %>" />
  <% end %>
  
  <%= stylesheet_link_tag "screen" %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag "ie7_and_below" %>
  <![endif]-->
  <%# stylesheet_link_tag Configuration[:site_css] if Configuration[:site_css] %>
  <title><%= strip_tags(@page_title) %> - <%= Configuration[:site_name] %></title>
</head>
<body>
  <%= content_tag(:div, "Development Mode", :id => "dev_mode_warning") if Rails.env == "development" %>
  <div id="wrapper">
  
    <div id="header">
      <%= link_to image_tag(logo_image), root_path, :id => "logo" %>
      
      <div id="main_menu">
        <ul class="simple first">
          <li class="first"><%= link_to "Home", page_path(Configuration[:home_page]) %></li>
          <li><%= link_to "Pages", all_pages_path %></li>
          <li><%= link_to "Activities", activities_path %></li>
          <% if admin? %>
            <li><%= link_to "Config", configuration_path %></li>
          <% end %>
        </ul>
        
        <ul class="simple">
          <% if logged_in? %>
            <li class="first"><%= link_to current_user.login, user_path(current_user) %></li>
            <li><%= link_to "Logout", logout_path %></li>
          <% else %>
            <li class="first"><%= link_to "Login", new_session_path %></li>
            <% if Configuration[:public_registration] %>
              <li><%= link_to "Register", new_user_path %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      
      <div class="clear"></div>
    </div>

    <div id="main">
      <div id="content" class="<%= 'without_sidebar' unless sidebar_visible? %>">
        <div id="content_inner"><div class="spacing">
          <h1><%= @page_title %></h1>
          <%= flashes %>
          <%= yield %>
      
          <div class="clear"></div>
        </div></div>
        
        <div id="footer">
          Powered by <a href="http://kiiproject.org/">Kii</a>.
        </div>
      </div>
    
      <% if sidebar_visible? %>
        <div id="sidebar">
          <%= @content_for_sidebar %>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>