<% page_title page_link(@page), "Revisions" %>
<%= render :partial => "pages/navigation" %>

<% grouped_record_log(@revisions, ["#", "Date", "Message", "By", ""]) do |revision, timestamp| %>
  <td><%= link_to "##{revision.revision_number}", page_revision_path(@page, revision) %></td>
  <td><%= timestamp %></td>
  <td><%= revision.message %></td>
  <td><%= author_link(revision) %></td>
  <td>
    <%= link_to "Changes", changes_page_revision_path(@page.to_param, revision) %>
    <%= link_to "Rollback", confirm_rollback_page_revision_path(@page, revision) %>
  </td>
<% end %>